Repository radiantearth/stac-spec, pull requests merged in 2019-11, with the labels that each got.

#602 Updated CommonMark from 0.28 to 0.29.
  CHANGELOG.md
  catalog-spec/catalog-spec.md
  collection-spec/collection-spec.md
  extensions/eo/README.md
  extensions/sar/README.md
  item-spec/item-spec.md
Labels: minor, ready for review, stac-catalog, stac-collection, stac-item

#632 Renamed STAC endpoints
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/api-spec.md
  api-spec/examples.md
  api-spec/extensions/fields/README.md
  api-spec/extensions/fields/fields.fragment.yaml
  api-spec/extensions/query/README.md
  api-spec/extensions/query/query.fragment.yaml
  api-spec/extensions/search/README.md
  api-spec/extensions/sort/README.md
  api-spec/extensions/sort/sort.fragment.yaml
  api-spec/openapi/STAC.yaml
  best-practices.md
  catalog-spec/README.md
  collection-spec/examples/landsat-item.json
  extensions/eo/examples/example-landsat8.json
  extensions/single-file-stac/examples/example-search.json
  item-spec/README.md
  item-spec/examples/itemcollection-sample-full.json
  item-spec/item-spec.md
  item-spec/itemcollection-spec.md
Labels: stac-api, wfs3-alignment

#633 Search context
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/README.md
  api-spec/extensions/STAC-extensions.merge.yaml
  api-spec/extensions/context/README.md
  api-spec/extensions/context/context.fragment.yaml
  api-spec/extensions/context/examples/example.json
  api-spec/extensions/context/json-schema/schema.json
Labels: ready for review

#651 Asset role field
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/landsat8-sample.json
  item-spec/examples/planet-sample.json
  item-spec/examples/sample-full.json
  item-spec/examples/sample.json
  item-spec/examples/sentinel2-sample.json
  item-spec/item-spec.md
  item-spec/json-schema/item.json
Labels: assets, ready for review, stac-item

#648 Add Raster Foundry and PySTAC to label implementations
  extensions/label/README.md
Labels: extension: label, ready for review

#635 API Version Extension
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/README.md
  api-spec/extensions/STAC-extensions.merge.yaml
  api-spec/extensions/version/README.md
  api-spec/extensions/version/version.fragment.yaml
Labels: ready for review, stac-api

#640 Require stac_version and define stac_extensions for Itemcollection
  CHANGELOG.md
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/itemcollection-sample-minimal.json
  item-spec/itemcollection-spec.md
  item-spec/json-schema/itemcollection.json
Labels: ready for review

#513 Sort Extension: simple format for GET
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/sort/README.md
  api-spec/extensions/sort/sort.fragment.yaml
Labels: ready for review, stac-api

#650 Add simplified GET fields syntax
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/fields/README.md
  api-spec/extensions/fields/fields.fragment.yaml
Labels: ready for review, stac-api

#638 Move `dtr` extension to a core extension
  CHANGELOG.md
  extensions/datetime-range/README.md
  extensions/datetime-range/examples/example-video.json
  extensions/datetime-range/json-schema/schema.json
Labels: ready for review

#643 Item and Collection Version Extension
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  collection-spec/json-schema/collection.json
  extensions/README.md
  extensions/asset/examples/example-landsat8.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_collection.json
  extensions/label/examples/spacenet-roads/roads_item.json
  extensions/scientific/examples/item.json
  extensions/single-file-stac/examples/example-search.json
  extensions/version/README.md
  extensions/version/examples/collection.json
  extensions/version/examples/item.json
  extensions/version/json-schema/schema.json
Labels: extension: other, new extension, ready for review, stac-collection

#666 Fixed stac_extensions in examples
  collection-spec/examples/landsat-collection.json
  collection-spec/examples/landsat-item.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/sentinel2-sample.json
Labels: bug, ready for review

#607 Data Cube extension improvements
  CHANGELOG.md
  extensions/README.md
  extensions/datacube/README.md
  extensions/datacube/examples/example-collection.json
  extensions/datacube/examples/example-item.json
  extensions/datacube/examples/example.json
  extensions/datacube/json-schema/schema.json
Labels: extension: datacube, ready for review

#676 Specify how to read no URL proprietary license
  CHANGELOG.md
  collection-spec/collection-spec.md
  item-spec/item-spec.md
Labels: ready for review, stac-collection

#680 Arrays and Objects in Extensions / How to summarize arrays (#660).
  CHANGELOG.md
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  collection-spec/examples/sentinel2.json
  extensions/README.md
Labels: extension: other, ready for review, stac-collection

#677 Various improvements
  CHANGELOG.md
  README.md
  api-spec/extensions/README.md
  catalog-spec/catalog-spec.md
  collection-spec/collection-spec.md
  extensions/README.md
  extensions/asset/README.md
  extensions/asset/examples/example-landsat8.json
  extensions/commons/README.md
  extensions/instrument/README.md
  item-spec/item-spec.md
  item-spec/itemcollection-spec.md
Labels: ready for review

#679 Clarified usage of asset keys
  CHANGELOG.md
  item-spec/item-spec.md
Labels: ready for review, stac-item

#684 Clean-up catalog relations and links
  catalog-spec/catalog-spec.md
Labels: stac-catalog
