Repository radiantearth/stac-spec, pull requests merged in 2019-12, with the labels that each got.

#655 allow multiple roles in asset
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  extensions/asset/README.md
  extensions/asset/examples/example-landsat8.json
  extensions/asset/json-schema/schema.json
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/landsat8-sample.json
  item-spec/examples/planet-sample.json
  item-spec/examples/sample-full.json
  item-spec/examples/sample.json
  item-spec/examples/sentinel2-sample.json
  item-spec/item-spec.md
  item-spec/json-schema/item.json
Labels: ready for review

#686 Validate SAR and EO asset extensions correctly.
  extensions/eo/json-schema/schema.json
  extensions/sar/json-schema/schema.json
  item-spec/json-schema/item.json
Labels: extension: eo, extension: sar, ready for review, stac-item

#695 update schema for bbox which fixes #587
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/extensions/fields/README.md
  api-spec/openapi/STAC.yaml
Labels: stac-api

#701 Collection: Fix type of interval array, should be string instead of number
  collection-spec/collection-spec.md
Labels: bug, ready for review, stac-collection

#699 Query polish
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/query/query.fragment.yaml
Labels: bug, ready for review, stac-api

#697 Make human-readable version of API easily accessible
  CHANGELOG.md
  api-spec/README.md
  api-spec/package-lock.json
  api-spec/package.json
Labels: ecosystem, ready for review, stac-api

#485 Projection Extension
  CHANGELOG.md
  collection-spec/collection-spec.md
  collection-spec/examples/sentinel2.json
  extensions/README.md
  extensions/datacube/examples/example-collection.json
  extensions/eo/README.md
  extensions/eo/examples/example-landsat8.json
  extensions/eo/json-schema/schema.json
  extensions/projection/README.md
  extensions/projection/examples/example-landsat8.json
  extensions/projection/json-schema/schema.json
  extensions/single-file-stac/examples/example-search.json
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/sentinel2-sample.json
Labels: new extension, prio: must-have, ready for review

#702 Check and fix links
  .circleci/config.yml
  README.md
  api-spec/README.md
  best-practices.md
  extensions/asset/README.md
  extensions/datacube/README.md
  extensions/instrument/README.md
  extensions/sat/README.md
  item-spec/examples/sentinel2-sample.json
  item-spec/itemcollection-spec.md
Labels: bug, ecosystem, ready for review

#682 STAC Common Metadata
  .circleci/config.yml
  CHANGELOG.md
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-item.json
  collection-spec/json-schema/collection.json
  extensions/README.md
  extensions/commons/README.md
  extensions/commons/examples/landsat-item.json
  extensions/datetime-range/README.md
  extensions/datetime-range/json-schema/schema.json
  extensions/eo/README.md
  extensions/eo/examples/example-landsat8.json
  extensions/instrument/README.md
  extensions/instrument/examples/example-landsat8.json
  extensions/instrument/json-schema/schema.json
  extensions/label/README.md
  extensions/sar/README.md
  extensions/sar/examples/envisat.json
  extensions/sar/examples/sentinel1.json
  extensions/sat/README.md
  extensions/sat/examples/example-landsat8.json
  extensions/scientific/examples/item.json
  item-spec/README.md
  item-spec/common-metadata.md
  item-spec/examples/datetimerange.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/sample-full.json
  item-spec/examples/sentinel2-sample.json
  item-spec/item-spec.md
  item-spec/json-schema/datetimerange.json
  item-spec/json-schema/instrument.json
  item-spec/json-schema/item.json
  item-spec/json-schema/licensing.json
  item-spec/json-schema/metadata.json
  item-spec/json-schema/provider.json
Labels: extension: other, ready for review, stac-item
