Repository radiantearth/stac-spec, pull requests merged in 2019-08, with the labels that each got.

#526 Removed duplicated field `schema` in the PC extension
  extensions/pointcloud/README.md
  extensions/pointcloud/examples/example-autzen.json
Labels: backport, bug, extension: pointcloud, prio: must-have, ready for review

#539 Added pull request template
  .github/pull_request_template.md
Labels: ecosystem, ready for review

#529 Absolute links changed to relative in JSON schemas (#528) and clean-up.
  extensions/checksum/json-schema/schema.json
  extensions/datacube/json-schema/schema.json
  extensions/datetime-range/json-schema/schema.json
  extensions/eo/json-schema/schema.json
  extensions/sar/json-schema/schema.json
  extensions/scientific/json-schema/schema.json
Labels: bug, ready for review

#525 Backporting WFS3 draft 2 to STAC
  CHANGELOG.md
  api-spec/README.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/api-spec.md
  api-spec/examples.md
  api-spec/extensions/README.md
  api-spec/extensions/transaction/transaction.fragment.yaml
  api-spec/openapi/STAC.yaml
  api-spec/openapi/WFS3.yaml
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  collection-spec/examples/sentinel2.json
  collection-spec/json-schema/collection.json
  extensions/label/examples/multidataset/spacenet-buildings/catalog.json
  extensions/label/examples/multidataset/zanzibar/catalog.json
  extensions/label/examples/spacenet-roads/roads_collection.json
Labels: prio: must-have, ready for review, stac-api, wfs3-alignment

#540 API reserved parameter language and parameter format clarifications
  CHANGELOG.md
  api-spec/api-spec.md
Labels: ready for review, stac-api

#516 Clarify EO items platform, constellation, and instrument
  CHANGELOG.md
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  extensions/eo/README.md
  extensions/eo/examples/example-landsat8.json
  extensions/sar/README.md
  extensions/sar/examples/envisat.json
  extensions/sar/examples/sentinel1.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/sample-full.json
Labels: extension: eo, extension: sar, ready for review

#527 Summaries for Catalogs (and Collections)
  CHANGELOG.md
  catalog-spec/catalog-spec.md
  catalog-spec/examples/basic.json
  catalog-spec/examples/catalog.json
  catalog-spec/examples/summaries-s2.json
  catalog-spec/json-schema/catalog.json
  collection-spec/collection-spec.md
  collection-spec/examples/sentinel2.json
  collection-spec/json-schema/collection.json
Labels: prio: should-have, ready for review, stac-catalog, stac-collection

#531 Extension supported (#278) / Mixing STAC versions (#439)
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/extensions/transaction/transaction.fragment.yaml
  api-spec/openapi/STAC.yaml
  catalog-spec/catalog-spec.md
  catalog-spec/json-schema/catalog.json
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  collection-spec/examples/landsat-item.json
  collection-spec/examples/sentinel2.json
  collection-spec/json-schema/collection.json
  extensions/README.md
  extensions/datacube/examples/example.json
  extensions/datetime-range/examples/example-video.json
  extensions/eo/README.md
  extensions/eo/examples/example-landsat8.json
  extensions/label/examples/multidataset/catalog.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/spacenet-buildings/catalog.json
  extensions/label/examples/multidataset/zanzibar/catalog.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_collection.json
  extensions/label/examples/spacenet-roads/roads_item.json
  extensions/label/examples/spacenet-roads/roads_source.json
  extensions/pointcloud/examples/example-autzen.json
  extensions/sar/examples/envisat.json
  extensions/sar/examples/sentinel1.json
  extensions/scientific/examples/example-merraclim.json
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/landsat8-sample.json
  item-spec/examples/planet-sample.json
  item-spec/examples/sample-full.json
  item-spec/examples/sample.json
  item-spec/examples/sentinel2-sample.json
  item-spec/item-spec.md
  item-spec/json-schema/item.json
Labels: prio: nice-to-have, ready for review, stac-catalog, stac-collection

#549 Make license and providers consistent between Collection and Item (#544)
  CHANGELOG.md
  collection-spec/collection-spec.md
  item-spec/item-spec.md
Labels: ready for review, stac-collection, stac-item

#547 Updated version numbers (#543)
  README.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  catalog-spec/catalog-spec.md
  catalog-spec/examples/basic.json
  catalog-spec/examples/summaries-s2.json
  catalog-spec/json-schema/catalog.json
  collection-spec/collection-spec.md
  collection-spec/examples/landsat-collection.json
  collection-spec/examples/landsat-item.json
  collection-spec/examples/sentinel2.json
  extensions/datacube/examples/example.json
  extensions/datetime-range/examples/example-video.json
  extensions/eo/README.md
  extensions/eo/examples/example-landsat8.json
  extensions/label/examples/multidataset/catalog.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/spacenet-buildings/catalog.json
  extensions/label/examples/multidataset/zanzibar/catalog.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_collection.json
  extensions/label/examples/spacenet-roads/roads_item.json
  extensions/label/examples/spacenet-roads/roads_source.json
  extensions/pointcloud/examples/example-autzen.json
  extensions/sar/examples/envisat.json
  extensions/sar/examples/sentinel1.json
  extensions/scientific/examples/example-merraclim.json
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/examples/digitalglobe-sample.json
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/landsat8-sample.json
  item-spec/examples/planet-sample.json
  item-spec/examples/sample-full.json
  item-spec/examples/sample.json
  item-spec/examples/sentinel2-sample.json
  item-spec/json-schema/item.json
  process.md
Labels: prio: must-have, ready for review

#550 Added links to chapters to improve navigation / UI (#541).
  api-spec/extensions/search/README.md
  catalog-spec/catalog-spec.md
  collection-spec/collection-spec.md
  extensions/checksum/README.md
  extensions/eo/README.md
  extensions/label/README.md
  extensions/pointcloud/README.md
  extensions/sar/README.md
  extensions/scientific/README.md
  item-spec/item-spec.md
Labels: prio: nice-to-have, ready for review

#554 update common bands table
  CHANGELOG.md
  extensions/eo/README.md
Labels: extension: eo, ready for review

#559 update CHANGELOG with older commits
  CHANGELOG.md
Labels: prio: must-have, ready for review

#551 Allow summaries to specify Stats (#542)
  catalog-spec/catalog-spec.md
  catalog-spec/json-schema/catalog.json
  collection-spec/collection-spec.md
Labels: prio: nice-to-have, ready for review, stac-catalog, stac-collection

#562 Scientific extension for Collections (#561) and various improvements
  CHANGELOG.md
  extensions/README.md
  extensions/scientific/README.md
  extensions/scientific/examples/collection.json
  extensions/scientific/examples/example-merraclim.json
  extensions/scientific/examples/item.json
  extensions/scientific/json-schema/schema.json
Labels: extension: other, prio: nice-to-have, ready for review, stac-collection

#563 Fixed media type table / Minor GeoTiff media type update
  item-spec/item-spec.md
Labels: bug, prio: must-have, ready for review, stac-item

#564 Issue #352: add z-axis to item spec for bbox and geometry
  CHANGELOG.md
  api-spec/api-spec.md
  collection-spec/collection-spec.md
  item-spec/item-spec.md
Labels: ready for review

#558 add single file STAC extension
  CHANGELOG.md
  extensions/README.md
  extensions/single-file-stac/README.md
  extensions/single-file-stac/examples/example-search.json
  extensions/single-file-stac/json-schema/schema.json
Labels: extension: other, ready for review

#552 asset definition extension added
  CHANGELOG.md
  extensions/README.md
  extensions/asset/README.md
  extensions/asset/examples/example-landsat8.json
  extensions/asset/json-schema/schema.json
Labels: extension: other, ready for review, stac-collection

#569 EO Extension Readme Updates (Version 2)
  extensions/README.md
  extensions/eo/README.md
Labels: bug, extension: eo, ready for review

#570 Fixed JSON schema for stac_extensions (thanks @a-kirk).
  catalog-spec/json-schema/catalog.json
  collection-spec/json-schema/collection.json
  item-spec/json-schema/item.json
Labels: bug, prio: must-have, ready for review

#568 Update UML diagram
  STAC-UML.drawio
  STAC-UML.pdf
Labels: prio: must-have, ready for review

#573 Merge remote-tracking branch 'origin/master' into dev
  .github/pull_request_template.md
  api-spec/examples.md
Labels: bug, ready for review

#576 Fix link to Search Extension in ItemCollection spec
  item-spec/itemcollection-spec.md
Labels: bug, ready for review
