Repository radiantearth/stac-spec, pull requests merged in 2019-10, with the labels that each got.

#579 Move label:classes to be a list of classes.
  CHANGELOG.md
  extensions/label/README.md
  extensions/label/schema.json
Labels: extension: label

#585 Label Extension: Clarify label:assets purpose
  extensions/label/README.md
Labels: extension: label

#583 Label extension example fixes
  extensions/label/README.md
  extensions/label/examples/multidataset/catalog.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/spacenet-buildings/collection.json
  extensions/label/examples/multidataset/zanzibar/collection.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_collection.json
  extensions/label/examples/spacenet-roads/roads_item.json
Labels: extension: label

#597 Pluralized forms of fields
  CHANGELOG.md
  extensions/label/README.md
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_item.json
  extensions/label/schema.json
  extensions/pointcloud/README.md
  extensions/pointcloud/examples/example-autzen.json
  extensions/pointcloud/pdal-to-stac.py
Labels: extension: label, extension: pointcloud

#596 Single File STAC: Documentation fixes
  CHANGELOG.md
  extensions/single-file-stac/README.md
Labels: bug, extension: other, ready for review

#598 Fix label extension examples
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  extensions/label/examples/spacenet-roads/roads_item.json
Labels: bug, extension: label, ready for review

#595 Media types once again
  CHANGELOG.md
  extensions/eo/README.md
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_3_Paris_img1648.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
  extensions/label/examples/multidataset/zanzibar/znz029.json
  item-spec/examples/CBERS_4_MUX_20181029_177_106_L4.json
  item-spec/item-spec.md
Labels: ready for review, stac-item

#601 Fixed typo in label readme
  extensions/label/README.md
Labels: bug, extension: label

#612 Align with OGC API - Features 1.0.0 final
  CHANGELOG.md
  README.md
  api-spec/README.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/api-spec.md
  api-spec/examples.md
  api-spec/extensions/transaction/transaction.fragment.yaml
  api-spec/openapi/STAC.yaml
  api-spec/openapi/WFS3.yaml
  best-practices.md
  collection-spec/README.md
  collection-spec/collection-spec.md
Labels: backport, sprint #5, stac-api, wfs3-alignment

#609 Item spec: self links are not required.
  item-spec/item-spec.md
Labels: backport, bug, ready for review, stac-item

#611 Improvements and fixes for the Item schema
  item-spec/json-schema/item.json
Labels: backport, ready for review, stac-item

#617 Collection: Replace object with Map<string, *>
  collection-spec/collection-spec.md
Labels: backport, ready for review, stac-collection

#620 Thumbnails are not meant to be in links
  collection-spec/examples/sentinel2.json
  item-spec/examples/itemcollection-sample-full.json
  item-spec/examples/sample-full.json
  process.md
Labels: backport, bug, ready for review

#622 Fixed JSON schemas for extensions: `$id` field matches file name. #618
  CHANGELOG.md
  api-spec/extensions/search/schema.json
  extensions/asset/json-schema/schema.json
  extensions/checksum/json-schema/schema.json
  extensions/datacube/json-schema/schema.json
  extensions/datetime-range/json-schema/schema.json
  extensions/eo/json-schema/schema.json
  extensions/sar/json-schema/schema.json
  extensions/scientific/json-schema/schema.json
  extensions/single-file-stac/json-schema/schema.json
Labels: backport, bug, extension: datacube, extension: eo, extension: label, extension: other, extension: pointcloud, extension: sar, ready for review

#610 Fixed link to Single File STAC example
  extensions/single-file-stac/README.md
Labels: backport, bug, extension: other, ready for review

#621 Fixing alignment issues with OGC API - Features and STAC API. #616
  CHANGELOG.md
  api-spec/README.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/api-spec.md
  api-spec/extensions/search/search.fragment.yaml
  api-spec/openapi/OAFeat.yaml
  api-spec/openapi/STAC.merge.yaml
  api-spec/openapi/STAC.yaml
Labels: backport, bug, ready for review, stac-api, wfs3-alignment
