Repository radiantearth/stac-spec, pull requests merged in 2019-07, with the labels that each got.

#532 Fixed label extension examples and re-generated OpenAPI files
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  extensions/label/examples/multidataset/catalog.json
  extensions/label/examples/multidataset/spacenet-buildings/catalog.json
  extensions/label/examples/multidataset/zanzibar/catalog.json
  extensions/label/examples/spacenet-roads/roads_item.json
Labels: bug, extension: label, prio: must-have, stac-api

#530 Fixing API information and links on front-page
  README.md
Labels: backport, bug, prio: must-have, ready for review

#538 search + transaction extension added to STAC-extensions.yaml
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/extensions/STAC-extensions.fragment.yaml
  api-spec/extensions/STAC-extensions.merge.yaml
  api-spec/extensions/search/search.fragment.yaml
  api-spec/extensions/transaction/transaction.fragment.yaml
  api-spec/openapi/WFS3.yaml
Labels: prio: should-have, ready for review, stac-api

#534 ETag support for optimistic locking + add transaction extension to STAC-extensions.yaml
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/transaction/README.md
  api-spec/extensions/transaction/transaction.fragment.yaml
Labels: extension: other, prio: should-have, ready for review, stac-api
