Repository radiantearth/stac-spec, pull requests merged in 2020-05, with the labels that each got.

#772 Catalog spec break out and improvements
  CHANGELOG.md
  README.md
  best-practices.md
  catalog-spec/README.md
  catalog-spec/catalog-spec.md
  catalog-spec/examples/catalog-items.json
  catalog-spec/examples/catalog.json
  overview.md
Labels: ready for review

#793 Remove warnings about spec instability
  README.md
  collection-spec/collection-spec.md
  item-spec/itemcollection-spec.md
Labels: ready for review

#802 Item Asset Definition: Don't specify the required fields
  CHANGELOG.md
  collection-spec/json-schema/collection.json
  extensions/item-assets/README.md
  extensions/item-assets/json-schema/schema.json
Labels: extension: other

#800 Collection-level Assets
  CHANGELOG.md
  collection-spec/json-schema/collection.json
  extensions/README.md
  extensions/collection-assets/README.md
  extensions/collection-assets/examples/example-esm.json
  extensions/collection-assets/json-schema/schema.json
  item-spec/json-schema/item.json
Labels: extension: other, stac-collection

#812 Require at least one extension field. #795
  .circleci/rc.yaml
  CHANGELOG.md
  extensions/datacube/README.md
  extensions/projection/README.md
  extensions/sat/README.md
  extensions/sat/json-schema/schema.json
  extensions/scientific/README.md
  extensions/scientific/json-schema/schema.json
  extensions/view/README.md
  extensions/view/json-schema/schema.json
Labels: extension: other

#815 Timestamps #693
  CHANGELOG.md
  extensions/README.md
  extensions/timestamps/README.md
  extensions/timestamps/examples/example-landsat8.json
  extensions/timestamps/json-schema/schema.json
  item-spec/common-metadata.md
  item-spec/json-schema/datetime.json
  item-spec/json-schema/item.json
  item-spec/json-schema/metadata.json
Labels: extension: other, stac-item
