Repository radiantearth/stac-spec, pull requests merged in 2020-02, with the labels that each got.

#728 Sortby update
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/extensions/sort/README.md
  api-spec/extensions/sort/sort.fragment.yaml
Labels: stac-api

#729 Fix SAR example
  extensions/sar/examples/sentinel1.json
Labels: bug, ready for review

#731 Fixes for the API
  CHANGELOG.md
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/extensions/sort/sort.fragment.yaml
  api-spec/extensions/version/version.fragment.yaml
  api-spec/openapi/STAC.yaml
Labels: bug, ready for review, stac-api

#735 Fix label examples
  extensions/label/examples/multidataset/spacenet-buildings/AOI_2_Vegas_img2636.json
  extensions/label/examples/multidataset/spacenet-buildings/AOI_4_Shanghai_img3344.json
  extensions/label/examples/multidataset/zanzibar/znz001.json
Labels: extension: label, ready for review

#740 Fixed description for sar:pixel_spacing_range
  extensions/sar/README.md
Labels: bug, extension: sar, ready for review
