Repository radiantearth/stac-spec, pull requests merged in 2020-01, with the labels that each got.

#707 Change date in CHANGELOG
  CHANGELOG.md
Labels: ready for review

#708 Align asset description
  api-spec/STAC-extensions.yaml
  api-spec/STAC.yaml
  api-spec/openapi/STAC.yaml
  extensions/asset/README.md
  item-spec/item-spec.md
Labels: bug, minor, ready for review

#710 Add data role
  extensions/asset/README.md
  item-spec/item-spec.md
Labels: assets, ready for review, stac-item

#717 Pagination documentation update
  CHANGELOG.md
  api-spec/api-spec.md
  api-spec/examples.md
Labels: minor, stac-api
