Repository radiantearth/stac-spec, pull requests merged in 2020-07, with the labels that each got.

#862 Updating contributing docs to use jsonformatter
  CONTRIBUTING.md
Labels: ecosystem

#861 adding JSON schema for pointcloud extension
  CHANGELOG.md
  extensions/pointcloud/README.md
  extensions/pointcloud/json-schema/schema.json
Labels: json schema

#856 Multiple extents
  CHANGELOG.md
  collection-spec/collection-spec.md
Labels: stac-collection

#847 JSON Schemas, Validation and CI
  .circleci/config.yml
  .circleci/publish-schemas.js
  .gitignore
  CHANGELOG.md
  README.md
  catalog-spec/README.md
  catalog-spec/json-schema/catalog.json
  collection-spec/README.md
  collection-spec/collection-spec.md
  collection-spec/json-schema/collection.json
  extensions/checksum/json-schema/schema.json
  extensions/collection-assets/json-schema/schema.json
  extensions/datacube/json-schema/schema.json
  extensions/eo/json-schema/schema.json
  extensions/item-assets/json-schema/schema.json
  extensions/label/json-schema/schema.json
  extensions/projection/json-schema/schema.json
  extensions/sar/json-schema/schema.json
  extensions/sat/json-schema/schema.json
  extensions/scientific/json-schema/schema.json
  extensions/single-file-stac/json-schema/schema.json
  extensions/tiled-assets/json-schema/schema.json
  extensions/timestamps/json-schema/schema.json
  extensions/version/json-schema/schema.json
  extensions/view/json-schema/schema.json
  item-spec/README.md
  item-spec/json-schema/basics.json
  item-spec/json-schema/datetime.json
  item-spec/json-schema/instrument.json
  item-spec/json-schema/item.json
  item-spec/json-schema/licensing.json
  item-spec/json-schema/provider.json
  package.json
  process.md
  validation/README.md
Labels: ecosystem, json schema
