Repository radiantearth/stac-spec, pull requests merged in 2021-03, with the labels that each got.

#1020 Change file ext scope, clarify catalog & collection field placement
  extensions/README.md
  extensions/file/README.md
Labels: bug, stac-catalog, stac-collection

#1022 Fix formatting of media types for spec
  catalog-spec/catalog-spec.md
  collection-spec/collection-spec.md
  item-spec/item-spec.md
Labels: bug, prio: must-have

#971 Add type field to Collection & Catalog
  CHANGELOG.md
  best-practices.md
  catalog-spec/catalog-spec.md
  catalog-spec/json-schema/catalog-core.json
  catalog-spec/json-schema/catalog.json
  collection-spec/README.md
  collection-spec/collection-spec.md
  collection-spec/json-schema/collection.json
  examples/catalog.json
  examples/collection-only/collection.json
  examples/collection.json
  examples/extensions-collection/collection.json
  extensions/README.md
  extensions/datacube/examples/example-collection.json
  extensions/file/examples/collection.json
  extensions/item-assets/examples/example-landsat8.json
  extensions/processing/examples/sentinel2-collection.json
  extensions/scientific/examples/collection.json
  extensions/single-file-stac/README.md
  extensions/single-file-stac/examples/example-search.json
  extensions/single-file-stac/json-schema/schema.json
  extensions/version/examples/collection.json
  overview.md
Labels: json schema, stac-catalog, stac-collection

#1026 Validate common metadata in assets
  extensions/eo/json-schema/schema.json
  extensions/projection/json-schema/schema.json
  extensions/scientific/examples/collection.json
  extensions/scientific/json-schema/schema.json
  extensions/view/json-schema/schema.json
  item-spec/json-schema/datetime.json
  item-spec/json-schema/item.json
Labels: json schema

#1047 Don't require Collection Assets
  CHANGELOG.md
  collection-spec/collection-spec.md
Labels: bug

#1065 Add minLength requirement to required strings (core only) #1048
  CHANGELOG.md
  catalog-spec/json-schema/catalog-core.json
  item-spec/item-spec.md
  item-spec/json-schema/item.json
  item-spec/json-schema/provider.json
Labels: json schema
