Repository radiantearth/stac-spec, pull requests merged in 2021-02, with the labels that each got.

#964 Relaxed the regular expression for DOIs in the scientific extension #910
  CHANGELOG.md
  extensions/scientific/README.md
  extensions/scientific/json-schema/schema.json
Labels: json schema

#963 Additional File Fields
  CHANGELOG.md
  extensions/file/README.md
  extensions/file/json-schema/schema.json
Labels: extension: other

#942 Summaries in catalogs
  CHANGELOG.md
  catalog-spec/catalog-spec.md
  collection-spec/collection-spec.md
Labels: prio: must-have

#953 Relative vs absolute link edits
  CHANGELOG.md
  best-practices.md
  catalog-spec/catalog-spec.md
  catalog-spec/json-schema/catalog.json
  collection-spec/collection-spec.md
  collection-spec/json-schema/collection.json
  item-spec/item-spec.md
  item-spec/json-schema/item.json
  item-spec/json-schema/provider.json
Labels: json schema

#967 Align summaries with JSON Schema vocabulary
  CHANGELOG.md
  collection-spec/collection-spec.md
  collection-spec/examples/sentinel2.json
  collection-spec/json-schema/collection.json
  extensions/datacube/examples/example-collection.json
  extensions/processing/examples/sentinel2-collection.json
Labels: json schema, stac-collection

#975 EO Clarifications
  extensions/eo/README.md
  extensions/eo/json-schema/schema.json
  item-spec/examples/sample-full.json
  schema.json
Labels: json schema

#988 Move JSON Schema for summaries to Catalog
  catalog-spec/json-schema/catalog.json
  collection-spec/json-schema/collection.json
Labels: json schema, prio: must-have

#1000 Fix EO example
  extensions/eo/examples/example-landsat8.json
Labels: bug, extension: eo, prio: must-have

#1003 Renamed "Scientific Extension" to "Scientific Citation Extension" #990
  CHANGELOG.md
  collection-spec/collection-spec.md
  extensions/README.md
  extensions/scientific/README.md
  extensions/scientific/json-schema/schema.json
Labels: extension: other, prio: nice-to-have

#1005 Add CARD4L Extensions to vendor list
  extensions/README.md
Labels: new extension

#999 File extension fixes
  extensions/file/README.md
  extensions/file/examples/collection.json
  extensions/file/examples/item.json
  extensions/file/json-schema/schema.json
Labels: bug, extension: other, prio: must-have
