Repository radiantearth/stac-spec, pull requests merged in 2024-07, with the labels that each got.

#1293 Best practice: Do not recommend subdirectories for Items without sidecar files #1195
  CHANGELOG.md
  best-practices.md
Labels: best practice

#1297 Improve URL resolving #1231
  CHANGELOG.md
  best-practices.md
Labels: best practice

#1294 Disallow GeometryCollection, reformatting
  CHANGELOG.md
  best-practices.md
  item-spec/item-spec.md
Labels: documentation

#1281 Add validation for absolute self link in item schema
  CHANGELOG.md
  item-spec/json-schema/item.json
Labels: json schema, best practice

#1290 Describe ItemCollection and CollectionCollection
  collection-spec/README.md
  item-spec/README.md
  item-spec/item-spec.md
Labels: documentation
